<div class="container">
<div class="row">
<div class="articles-heading">
<h1>List of all articles</h1>
</div>
<div class="new-article">
<%= link_to 'New Article', new_article_path %>
</div>
  <div class = "article-body">
    <%= render 'article', obj: @articles %>
  </div>
<div><%= will_paginate %></div>
</div>
</div>
