<div class="container">
  <div class="row index">
    <div class="heading">
<h1>Welcome to Blogger</h1>
</div>
<div class="button-signup">
<button type="button" class="btn btn-default"> Signup now </button>
</div>

</div>
</div>
