<div class="container">
  <div class="row index">
    <div class="heading">
<h1>Welcome to Blogger</h1>
</div>
<div class="button-signup">
<%= link_to 'Signup', signup_path, class: "btn btn-default" %>
</div>

</div>
</div>
