// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar-brand{
  color: #FC4A1A !important;
text-transform: uppercase;
font-weight: 500;
font-size: 28px;
}
.heading h1{
  text-align: center;
  margin-top: 7%
}
.index .button-signup{
  text-align: center;
margin-top: 7%;
}
@media (min-width: 768px){
.navbar-right {
    // float: right !important;
    // margin-right: -15px;
}
.navbar-nav {
    /* float: left; */
    margin: 0;
}
}
